#emailError {
    color:crimson;
    text-align: center;
    font-size: 20px;
}

#header {
    background: black;
    color: white;
    position: relative;
    padding: 80px 10px;
    height: 120vh;
    text-align: center;
}

#header a {
    margin-left: -100px;
    font-size: 30px;
    color: tomato;
}

form {
    background:rgba(205, 133, 63,0.7);
}